<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Public API's from every country</h1>
    <p class="lead text-muted">We believe the world can be better if we have data at our disposal.<br>Help us build the largest collection of every country services API's.</p>
    <p>
      Search: <%= params["query"] %>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <div class="row">
      <% @apis.each do |api| %>
        <div class="col-md-4 api-col">
          <%= render "api_card", api: api %>
        </div>
      <% end %>
    </div>

  </div>
</div>
