// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  margin-bottom: 0;

  .navbar-brand {
    img {
      zoom: 50%;
      width: 293px;
    }
  }
}

@media (min-width: 767px) {
  #search-input {
    border-radius: 0.2rem 0 0 0.2rem;
    border-right: 0;

    &:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  #search-btn {
    border-radius: 0 0.2rem 0.2rem 0;
  }
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  border: 0;
  margin-bottom: 2rem;
  padding: 1rem;

  a {
    color: inherit;
  }
}

.countries {
  margin-bottom: 30px;

  .country {
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    padding: 4px 8px;
  }
}

.btn {
  cursor: pointer;
}

.search-form {
  text-align: center;
}

.card-text {
  font-size: 85%;
  max-height: 40px;
  min-height: 40px;
  overflow: hidden;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
