<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Papis List is brought to you by <a href="http://twitter.com/jackveiga">Jack Veiga</a> & <a href="http://twitter.com/alvesjtiago">Tiago Alves</a>.</p>
    <p>Follow us on <a href="http://twitter.com/papislist">Twitter</a> for updates.</p>
  </div>
</footer>