<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="<%= root_url %>" class="navbar-brand"><%= image_tag "logo.png" %></a>
    <div class="pull-right">
      <a class="typeform-share button btn btn-sm btn-primary" href="https://tiagoalves.typeform.com/to/Mnwtmy" data-mode="popup"target="_blank">Submit API</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </div>
  </div>
</div>